body{
    text-align: center;
    font-family: "Arial";
    color: darkgray;
}
#container{
    width: 700px;
    padding: 1rem;
    text-align: left;
    border: 1px solid lightslategray;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}